<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spiderdt.common.notice.dao.TrackRecodeDao">

    <resultMap id="TrackRecodeResultMap" type="com.spiderdt.common.notice.entity.TrackRecodeEntity">
        <result column="track_url_suffix" property="trackUrlSuffix" jdbcType="VARCHAR" />
        <result column="track_type" property="trackType" jdbcType="VARCHAR" />
        <result column="url_org" property="urlOrg" jdbcType="VARCHAR" />
        <result column="task_id" property="taskId" jdbcType="NUMERIC" />
        <result column="riid" property="riid" jdbcType="NUMERIC" />
        <result column="message_replace" property="messageReplace" jdbcType="VARCHAR" />
        <result column="message_org" property="messageOrg" jdbcType="VARCHAR" />
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="is_click" property="isClick" jdbcType="NUMERIC" />
        <result column="click_time" property="clickTime" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="addTrackRecodeInfoBatch" parameterType="java.util.List">
        insert into notice.notice_tasks_track_recode
        (track_url_suffix,track_type,url_org,task_id,riid,message_replace,message_org,params)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.trackUrlSuffix},#{item.trackType},#{item.urlOrg},#{item.taskId},#{item.riid},
            #{item.messageReplace},#{item.messageOrg},#{item.params})
        </foreach>
    </insert>
    <select id="getTrackRecodeInfoByEncrypt" resultMap="TrackRecodeResultMap">
        select * from notice.notice_tasks_track_recode where track_url_suffix=#{encrypt_url};
    </select>
    <update id="updateTrackRecodeStatus">
        update notice.notice_tasks_track_recode
        set status=#{status}
        where track_url_suffix =#{encrypt_url};
    </update>

</mapper>
