<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spiderdt.common.notice.dao.TrackRecodeDao">

    <resultMap id="TrackRecodeResultMap" type="com.spiderdt.common.notice.entity.TrackRecodeEntity">
        <result column="url_encode" property="urlEncode" jdbcType="VARCHAR" />
        <result column="url_org" property="urlOrg" jdbcType="VARCHAR" />
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="NUMERIC" />
    </resultMap>

    <insert id="addTrackRecodeInfoBatch" parameterType="java.util.List">
        insert into notice_tasks_track_recode
        (url_encode,url_org,params)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.urlEncode},#{item.urlOrg},#{item.params})
        </foreach>
    </insert>
    <select id="getTrackRecodeInfoByEncrypt" resultMap="TrackRecodeResultMap">
        select * from notice_tasks_track_recode where url_encode=#{encrypt_url};
    </select>
    <update id="updateTrackRecodeStatus">
        update notice_tasks_track_recode
        set status=#{status}
        where url_encode =#{encrypt_url};
    </update>

</mapper>
